# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Local configs
config.yaml

# Outputs
output/
output_batch/

# Logs
*.log
